<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="fairino_dual_ros2_control" params="name1 name2 initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name1}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>fairino_hardware/FairinoHardwareInterface</plugin>
            </hardware>

            <joint name="robot2_j1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['robot2_j1']}</param>
                </state_interface>
            </joint>
            <joint name="robot2_j2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['robot2_j2']}</param>
                </state_interface>
            </joint>
            <joint name="robot2_j3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['robot2_j3']}</param>
                </state_interface>
            </joint>
            <joint name="robot2_j4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['robot2_j4']}</param>
                </state_interface>
            </joint>
            <joint name="robot2_j5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['robot2_j5']}</param>
                </state_interface>
            </joint>
            <joint name="robot2_j6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['robot2_j6']}</param>
                </state_interface>
            </joint>

        </ros2_control>

        <ros2_control name="${name2}" type="system">
            <hardware>
                <plugin>fairino_hardware/FairinoHardwareInterface2</plugin>
            </hardware>

            <joint name="robot1_j1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['robot1_j1']}</param>
                </state_interface>
            </joint>
            <joint name="robot1_j2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['robot1_j2']}</param>
                </state_interface>
            </joint>
            <joint name="robot1_j3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['robot1_j3']}</param>
                </state_interface>
            </joint>
            <joint name="robot1_j4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['robot1_j4']}</param>
                </state_interface>
            </joint>
            <joint name="robot1_j5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['robot1_j5']}</param>
                </state_interface>
            </joint>
            <joint name="robot1_j6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['robot1_j6']}</param>
                </state_interface>
            </joint>
        </ros2_control>

    </xacro:macro>
</robot>
